/* Define all fonts */
@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensed-Regular.ttf") format("ttf"),
    url("../fonts/RobotoCondensed-Regular.ttf") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../RobotoCondensed-Light.ttf") format("ttf"),
    url("../fonts/RobotoCondensed-Light.ttf") format("woff");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../RobotoCondensed-Bold.ttf") format("ttf"),
    url("../fonts/RobotoCondensed-Bold.ttf") format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
