:root {
  /* components can access these vars like 
    div {
      color: var(--orange);
    }
  */
  /* Font vars */
  --sans: "Roboto Condensed", Helvetica, sans-serif;
  --serif: Georgia, Times, serif;

  --body: "Roboto", Helvetica, sans-serif;

  /* Position vars */
  --z-bottom: -100;
  --z-middle: 0;
  --z-top: 100;
  --z-overlay: 1000;

  /* Color vars */
  --orange: #ed8936;
  --dOrange: #d95738;
  --charcoal: #2d3748;
  --lBlue: #648590; /* or #EAF4F4 */
  --dGray: #505050;
  --green: #00a6a6; /* or #5CA4A9 */
  --white: #fefefe;
}

/* uncomment for debugging */
/* * {
  border: solid 1px red;
} */

html {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-size: 10px;
  line-height: 1.15;
  box-sizing: border-box;
}

body {
  position: relative;
  color: var(--dGray);
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* --- CLASSES */
.body-content {
  padding: 0 20px;
  margin: 0 auto;
  width: 90vw;
  max-width: 900px;
}

.col-3 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "n content content";
}

/* Text classes */
._heading1 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: bold;
  font-size: 5.52rem;
  line-height: 5.9rem;
  color: var(--dGray);
}

._heading2 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: normal;
  font-size: 3.79rem;
  line-height: 4.4rem;
  color: var(--orange);
}

._heading3 {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: bold;
  font-size: 2.3rem;
  line-height: 2.9rem;
  padding: 1rem 0;
  color: var(--dGray);
}

._section-heading {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 2.9rem;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: var(--dGray);
}

._body-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.55;
  color: var(--dGray);
}

._body-text-bold {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.55;
  color: var(--dGray);
}

/* Tippy Tooltip theme styling.
See: https://atomiks.github.io/tippyjs/v6/themes/ */
.tippy-box[data-theme~="solarUnited"] {
  background-color: white;
  padding: 15px;
  font-size: 1.6rem;
  font-family: "Roboto";
  font-weight: 300;
  line-height: 1.5;
  color: var(--dGray);
  border-radius: 3px;
  border: solid 1px var(--dGray);
  box-shadow: 5px 5px 10px 4px rgba(0, 0, 0, 0.12);
}

/* SCROLL-SPECIFIC ELEMENTS */
svelte-scroller-background-container {
  pointer-events: all !important;
}

/* Responsivity */
@media (max-width: 700px) {
  .col-3 {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "content";
  }
}
