:root {
  /* components can access these vars like 
    div {
      color: var(--light);
    }
  */
  /* Font vars */
  --sans: "Roboto Condensed", Helvetica, sans-serif;
  --serif: Georgia, Times, serif;

  --body: "Roboto", Helvetica, sans-serif;

  /* Position vars */
  --z-bottom: -100;
  --z-middle: 0;
  --z-top: 100;
  --z-overlay: 1000;

  /* Color vars */
  --light: #ed8936;
  --dark: #d95738;
}

/* uncomment for debugging */
/* * {
  border: solid 1px red;
} */

/* CLASSES */

.col-full {
  width: 100%;
}

.col-wide {
  width: 100%;
  max-width: 980px;
  margin: 0 24px;
}

.col-medium {
  width: 100%;
  max-width: 680px;
  margin: 0 24px;
}

.height-full {
  min-height: 100vh;
}

/* SCROLL-SPECIFIC ELEMENTS */
svelte-scroller-background-container {
  pointer-events: all !important;
}

@media (min-width: 992px) {
  .splitscreen svelte-scroller-background {
    width: calc(100% - 480px) !important;
    min-width: 65%;
    margin: 0 0 0 auto;
  }
  .splitscreen [slot="foreground"] section div::before {
    opacity: 0;
  }
  .splitscreen [slot="foreground"] section {
    width: 480px;
    max-width: 35%;
    margin: 0 auto 0 0;
    background-color: #fff;
  }
  .splitscreen [slot="foreground"] .col-medium {
    width: 100%;
    margin: 0;
    padding: 0 30px;
  }
} */
